$prefix: 'vvue-layout-type-holy-grail';
.#{$prefix} {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  .#{$prefix}-body{
    flex: 1;
    display: flex;
    .#{$prefix}-main{
      flex: 1;
    }
    .#{$prefix}-left, .#{$prefix}-right {
      flex: 0 0 auto;
    }
  }
}

