$prefix: vvue-spin;
.#{$prefix} {
  display: inline-block;
  .#{$prefix}-default {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .#{$prefix}-text {
      font-size: 0.6em;
    }
  }
}

/** animation */
$prefixType: vvue-spin-type;
@keyframes #{$prefixType}-ani {
  from { transform: rotate(0deg);}
  25%  { transform: rotate(90deg);}
  50%  { transform: rotate(180deg);}
  75%  { transform: rotate(270deg);}
  to   { transform: rotate(360deg);}
}
.#{$prefixType}-spin, .#{$prefixType}-circle{
  animation: #{$prefixType}-ani 1s linear infinite;
}